// variables
$background-color: #010208;

/* Fonts */
@font-face {
  font-family: "bahnschrift";
  src: url("/fonts/bahnschrift.ttf");
}

/* Bases */ 
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
}

* {
  box-sizing: inherit;
  outline: none;

  &:before,
  &:after {
    box-sizing: inherit; 
    outline: none;
  }
}

body {
  font-family: "bahnschrift", helvetica;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: $background-color;
}

/* Selection */
::selection {
  color: #000;
  background: #FA709A;
}

/** Global **/
header,
nav {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  list-style-type: none;
}

h1, h2 {
  color: #f5f5f5;
  margin: 5rem 5rem 0;
  font-size: 5rem;
}

@media only screen and (min-width: 768px) { // CAMBIAR
  h1, h2 {
    margin: 5rem 5rem 0;
    font-size: 5rem;
  }
}

/** Utilities **/
/* Usuals */
.fullscreen {
  position: relative;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

/* Displays */
.display-mobile {
  display: block !important;
}

.display-pc {
  display: none !important;
}

@media only screen and (min-width: 768px) {
  .display-mobile {
    display: none !important;
  }

  .display-pc {
    display: block !important;
  }
}

.hidden {
  opacity: 0;
}

/* Containers */
.container {
  width: 85%;
  max-width: 150rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 70%;
  }
}

/** Navbar **/
@import 'navbar';

/** Cards **/
@import 'cards';

/** Poemarios **/
@import 'poemarios';

/** About **/
@import 'about';

/** Cositas **/
#contador {
  align-items: center;
  text-align: center;
  color: #d7dce3;
  font-size: 10rem;
  font-weight: 900;
}