<h1>Sobre Nosotros</h1>
<div class="about">
    <div class="lu">
        <h3>Lupilu</h3>
        <p>Es mi hermosisima novia, la cual amo muchisimo. Sin dudas todas las palabras que le dedico en estos poemas se lo merece, y mucho mas. La empatía, grandeza y fuerza que tiene es insuperable. Estoy muy orgullozo de ella, y no me alcanzan los versos para expresarlo.
        </p>
        <p>Estudia periodismo, trabaja en la Dirección Nacional de Elencos Estables en el sector de Redes. Trabaja como la concha de la lora, resuelve problemas con una eficiencia que ni ella se lo cree y es una persona increible.</p>
        <p>Espero que con los poemas puedan admirar la grandeza de la que soy orgullozamente un espectador.</p>
        <p class="postdata">Por si la quieren Stalkear:
            <a target="_blank" href="https://www.instagram.com/luci_gentile/"><i class="fa-brands fa-instagram"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/lucia-gentile-08b599238/"><i class="fa-brands fa-linkedin"></i></a>
        </p>
        
    </div>

    <div class="yo">
        <h3>Yo (Autor)</h3>
        <p>Soy el afortunado novio de Lu, y como la amo mucho y se me dan bien los poemas y las paginas, decidí fusionarlo para nuestro tercer aniversario, poniendo a disposición los poemarios anteriores que le hice, los que no les habia hecho video aún, y las explicaciones que tanto me exigió (que estan escritos para ella, no para vos, salvo que vos seas ella, en ese caso si).</p>
        <p>Espero que tanto ella, como cualquiera que se pasee por aca, puedan disfrutar de los poemas que con tanto amor hice.</p>
        <p class="postdata">tsss... si te gusto esta pagina, podes visitar la mia: <a target="_blank" href="https://www.juancruzbolatti.com"><i class="fa-solid fa-terminal"></i></a></p>
        
    </div>
</div>