<h1>Sobre Nosotros</h1>
<div class="about">
    <div class="lu">
        <img src="./img/cositas.jpg" alt="">
        <h3>Lupilu</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut adipisci voluptate pariatur, corrupti harum
            dignissimos sit facere ab officiis ad mollitia! Saepe nam, non iure beatae quod repellendus accusamus amet?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ullam deleniti consectetur minus eveniet
            reprehenderit, minima voluptatibus laborum suscipit modi aut harum magni fugit tempore iste at eum aperiam
            quod mollitia distinctio quia a. Perspiciatis, officia aspernatur numquam facilis obcaecati at ad autem qui
            pariatur libero voluptate quae doloribus tempore!</p>
        <a href="#">a</a>
        <a href="#">a</a>
    </div>

    <div class="yo">
        <h3>Yo (Autor)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ullam deleniti consectetur minus eveniet
            reprehenderit, minima voluptatibus laborum suscipit modi aut harum magni fugit tempore iste at eum aperiam
            quod mollitia distinctio quia a. Perspiciatis, officia aspernatur numquam facilis obcaecati at ad autem qui
            pariatur libero voluptate quae doloribus tempore!</p>
        <a href="#">a</a>
        <a href="#">a</a>
    </div>
</div>