<h1>Feliz Aniversario Amor - <span class="teamo" onclick="teamo(this)">Te Amo Mucho</span></h1>

<div class="cards">
    {{> card poemario="/poemario/improvisacion_de_un_querer" imagen="./img/iduq.png" tag="aniversario_01" tituloPoemario="Improvisaci贸n de un Querer"}}
    {{> card poemario="/poemario/cuna_de_luna" imagen="./img/cdl.png" tag="aniversario_01" tituloPoemario="Cuna de Luna"}}
    {{> card poemario="/poemario/estacion" imagen="./img/estacion.png" tag="aniversario_02" tituloPoemario="Estaci贸n 23"}}
    {{> card poemario="/poemario/rezos" imagen="./img/rezos.png" tag="aniversario_02" tituloPoemario="Rezos"}}
    {{> card poemario="/poemario/improvisacion_de_un_querer_rehecho" imagen="./img/iduqr.png" tag="aniversario_03" tituloPoemario="Improvisaci贸n de un querer (re-hecho)"}}
    {{> card poemario="/poemario/improvisacion_de_un_amar" imagen="./img/idua.png" tag="aniversario_03" tituloPoemario="Improvisaci贸n de un amar"}}
    {{> card poemario="/poemario/cuna_de_luna_rehecho" imagen="./img/cdlr.png" tag="aniversario_03" tituloPoemario="cuna de luna (re-hecho)"}}
    {{> card poemario="/poemario/canto_de_luna" imagen="./img/cdl2.png" tag="aniversario_03" tituloPoemario="canto de luna"}}
    {{> card poemario="/poemario/constelaciones" imagen="./img/constelaciones.png" tag="aniversario_03" tituloPoemario="constelaciones"}}
    {{> card poemario="/cositas" imagen="./img/cositas.jpg" tag="aniversario_04" tituloPoemario="cositas"}}
</div> 

<div class="footer">04/01/2024</div>